<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EduCare</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="icon" href="/icon/EduCareLogo.png" type="image/png"/>
    <link rel="apple-touch-icon" href="/icon/EduCareLogo.png" type="image/png"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <script src="/script/checkLogin.js" defer></script>
</head>
<body>

</body>
</html>